body {
	align-content: center;
	background-image: url(./background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	display: flex;
	flex-direction: row;
	font-size:46px;
	align-content: center;
	padding-left: 200px;
	padding-right: 200px;
	background-blend-mode: overlay;
	background-color: firebrick;
}
h1#heading {
	margin-top:20px ;
	margin-bottom: 10px;
	margin-left: 20px;
	padding: 0;
}
ul.navbar {
	display: flex;
	flex-direction: row;
	padding-left: 120px;
	padding-right: 100px;
	background-color: lightgrey;
}

a.navbar:link {
  color: black;
}

a.navbar:visited {
  color: Black;
}
a.navbar:hover {
  color: black;
  background-color: darkgrey;
}
a.navbar:active {
  color: black;
  background-color: darkgrey;
  border-bottom: 4px solid black;
}
a.navbar {
	display: inline-block;
	width:200px;
	height:40px;
	font-size: x-large;
	padding:10px 25px;
	outline: none;
	border: none;
	background-color: lightgrey;
	text-align: center;
}

button.index {
  display: inline-block;
  border-radius: 4px;
  border: none;
  text-align: left;
  width: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin-left:0px;
}

button.index span {
  cursor: pointer;
  display: inline-block;
  position: sticky;
  transition: 0.5s;
}

button.index span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top:360px;
  left: 0px;
  right:  10px;
  transition: 0.5s;
}

button.index:hover span {
  padding-right: 25px;

}

button.index:hover span:after {
  opacity: 1;
  right: 0;
}
